<div id="contents">
    <h2><?php echo $title?></h2>


  <?php if(isset($data)):
    $itemCount=0;
  ?>
  <section id="data-list">
  <?php if($showMap && isset($_GET['_near'])):?>

  <div id="map" style="height:500px"></div>

  <script type="text/javascript" charset="utf-8">
    var map = L.map('map');
    L.tileLayer('http://{s}.tile.cloudmade.com/5e0323d36c244749902bb1520170dd58/997/256/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
      maxZoom: 18
    }).addTo(map);
    var mapCentered = false;
    var latlongs=[];
    <?php
      list($lat, $long) = explode(',',$Store->Index->getUriLatLong($_GET['_near']));
      ?>
      var lat = <?php echo $lat ?>;
      var long = <?php echo $long ?>;
      map.setView([lat,long], 10);


  </script>

  <?php endif ?>
  <div class="result-count"><?php echo $resultCount?> results</div>
  <?php
  if(empty($data) AND isset($requestUri)){
  ?>
  <a href="<?php echo $requestUri?>"><?php echo $requestUri?></a> not described in this dataset.
  <?php }
  ?>
  <ol>
    <?php foreach($data as $uri => $props):
    $itemCount++;
    $label = label($props, $uri);
    $depiction = depiction($props,$uri);
    ?>
    <li>
      <div class="result" id="<?php echo urlencode($uri)?>">
        <h4><a href="<?php echo $uri?>"><?php echo $label ?></a></h4>
        <?php if(isset($props[Geo_NS.'lat'])):?>
        <?php if(!$showMap):?>
        <a class="nearby" href="?_near=<?php echo urlencode($uri)?>"><img alt="Near by" src="images/map-pin.png" width="25"></a>
        <?php else:?>
        <a href="#map">Map</a>
        <?php endif ?>

        <script type="text/javascript" charset="utf-8">
          var lat = <?php echo $props[Geo_NS.'lat'][0]['value']?>;
          var long = <?php echo $props[Geo_NS.'long'][0]['value']?>;
var marker = L.marker([lat,long], {title: "<?php echo addslashes($label)?>" })
.bindPopup('<h6><a href="#<?php echo urlencode($uri)?>"><?php echo addslashes($label)?></a></h6><?php if($depiction):?><div><img width="100" src="<?php echo $depiction?>"></div><?php endif?>')
          .addTo(map);

          latlongs.push([lat,long]);

        </script>

        <?php endif ?>

        <?php if($depiction):?>
          <div class="pic">
            <a href="<?php echo $depiction?>"><img src="<?php echo $depiction?>" width="300"></a>
          </div>
        <?php endif ?>
        <dl>
          <?php foreach($props as $p => $os):?>
            <dt> <?php echo local($p)?></dt>
              <?php foreach($os as $o):?>
              <dd>
              <?php echo ($o['type']=='literal')? ($o['value']) : '<a href="?_uri='.urlencode($o['value']).'">'.htmlentities(local($o['value'])).'</a>'?>

              <span class="facet-navigation">
              <?php if(is_numeric($o['value'])):?>
              <a title="less than" href="?<?php echo curie($p).';_max='.pathescape($o)?>">&lt;</a>
              <?php endif?>
            
              <a title="More with this property" class="similar" href="?<?php echo
                curie($p).'='.pathescape($o)?>">+</a> 
   
                <?php if(is_numeric($o['value'])):?>
              <a title="more than" href="?<?php echo curie($p).';_min='.pathescape($o)?>">&gt;</a>
              <?php endif?>
              </span>

              </dd>
              <?php endforeach ?>
            <?php endforeach ?>
        </dl>
        <a title="things linking to <?php echo $label?>" href="?_related=<?php echo urlencode($uri)?>"><img alt="Related" src="images/connections.png"></a>
      </div>
    </li>  
  <?php endforeach ?>
  </ol>
  <?php if($showMap):?>
  <script type="text/javascript" charset="utf-8">
    map.fitBounds(latlongs);
  </script>
    <?php endif?>
  <div id="pager">
    <?php if($page > 1):?> <a href="?<?php echo $query . '&amp;_page=' .($page-1) ?>">Previous</a> <?php endif?>
    &nbsp;
    <?php if($itemCount == 10):?> <a href="?<?php echo $query . '&amp;_page=' .($page+1)?>">Next</a> <?php endif ?>
  </div>
  </section>
  <?php endif?>
</div>


<section id="nav">
<section id="facets">
  <?php if(isset($facets)):
    unset($facets[Geo_NS.'lat']);
    unset($facets[Geo_NS.'long']);
    unset($facets[Geo_NS.'lat_long']);
    foreach($facets as $p => $objs):?>
  <section class="facet">
    <h4><?php echo local($p)?></h4>
      <ol>
      <?php foreach($objs as $val => $count):?>
      <li><a href="?<?php echo curie($p).'='.urlencode(curie($val)).'&amp;'.getQuery(array('_search'))?>"><?php echo empty($val)? 'none' : local($val)?></a><span class="count"><?php echo $count ?></span></li> 
      <?php endforeach ?>
    </ol>
  </section>

  <?php endforeach ?>
  <?php endif ?>
  </section>


    <form action="" method="get" accept-charset="utf-8" class="search">    
      <input type="search" name="_search" value="">
      <input type="submit" value="Search">
    </form>


    <?php if(isset($types)):?>
  <ul id="types">
    <?php foreach($types as $type => $count):?>
    <li>
      <a href="?rdf:type=<?php echo urlencode(curie($type))?>"><?php echo local($type) ?></a>
      <span class="count"><?php echo $count?></span>
     </li>
    <?php endforeach ?>
  </ul>
  <?php endif?>

</section>





