  <div id="contents">
    <h2><?=$title?></h2>

<form action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">

  <fieldset id=Set a password to protect the configuration"name">
    <legend>Set a password to protect the configuration</legend>
    <label for="Username">Username</label><input type="text" name="Username" value="<?php if(isset($Config->username)) echo $Config->username?>" id="Username"><br>
    <label for="Password"><?php if(isset($Config->password)):?>New <?php endif?>Password</label><input type="password" name="Password" value="" id="Password">
    <p class="help">
    If you forget your password, edit <code>config.json</code>, removing <code>"password": {md5 hash of your password}</code>
    </p>
  </fieldset>
  
  <fieldset>
    <legend>Upload your Data</legend>
    <label for="data-file">Turtle or RDF/XML File:</label> <input id="data-file" name="data-file" type="file"><br>
    <input type="submit" name="upload" value="Upload" id="upload-button">
  </fieldset>

  <fieldset>
    <legend>Describe your data</legend>
  <input type="hidden" name="MAX_FILE_SIZE" value="<?php echo $maxfileSize ?>">
  <label for="name">Name:</label> <input id="name" name="name"
  value="<?php echo $Config->name?>" placeholder="Your dataset's name"><br>
  <label for="license">Data License URL:</label> 
  <input id="license" name="license" value="<?php echo $Config->license
  ?>" list="licenses" type="url">
  <datalist id="licenses">
  <?php foreach($licenses as $uri => $label):?>
    <option value="<?=$uri?>"><?=($label)?></option>
  <?php endforeach?>
  </datalist>
  <br>
  <p class="help">
    Setting a license for your dataset makes it usable by others
  </p>
</fieldset>

  <fieldset id="vocabs">
    <legend>Vocabularies</legend>
    <p class="help">
    Enter the prefixes you want to be able to use in Path queries 
    - eg: if you want to query <kbd>place:in=dbpedia:Iceland</kbd>, 
    you should define namespaces for <kbd>place</kbd> and <kbd>dbpedia</kbd>.
    </p>
      <div id="prefix-fields">
        <?php
        $n=0;
        foreach($Config->prefixes as $prefix => $ns):?>
            <div class="prefix-ns">

          <label>Prefix: </label>
          <input name="prefixes[<?=$n?>][prefix]" value="<?=$prefix?>"
          class="prefix">
          <label>Namespace URI: </label>
          <input type="url" name="prefixes[<?=$n++?>][namespace]"
          value="<?=$ns?>" class="namespace">
                </div>

        <?php endforeach ?>
    </div>

    <button name="add-vocab-field">Add Vocabulary</button>
  </fieldset>
  

<p><input type="submit" name="save" value="Save"></p>

</form>
<script type="text/javascript" charset="utf-8" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){

      $('#prefix-fields div.prefix-ns').each(function(){
        var el = this;
        var namespace = $('.namespace', el);
        $('.prefix',el).blur(function(){
          var prefix = $(this).val();
          if(prefix.length && namespace.val().length===0){
            $.getJSON('http://prefix.cc/'+prefix+'.file.json',
              function(data){
                namespace.val(data[prefix]);
              });
          }
          });  
      });  
      $('#upload-button').hide();
      $('#data-file').change(function(){
          if($(this).val()){
            $('#upload-button').show();
          }
        });

  });
</script>
</div>
